/* I might move this to the main?? */
footer {
    /* to deal with footer location */
    text-align: center;
    font-size: medium;
    background-color: black;
    color: aliceblue;
    padding-top: 5vh;
    padding-bottom: 5vh;

}