/* I might move this to the main?? */
footer {
    /* to deal with footer location */
    text-align: center;
    font-size: medium;
    background-color: black;
    color: aliceblue;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

/* handles links style in footer */
footer a {
    /* remove all default style */
    all: unset;
}

footer a:visited, footer a:link {
    color: white;
}

footer a:hover {
    color: #11A8AB;
}


/* class  */
.footer_icons {
    font-size: x-large;
}