<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Footer</title>

    <!-- list of local assects -->

    <link rel="stylesheet" href="./../../page/main.css">
    <!-- <script src="./main.js"></script> -->


    <!-- footer tag  - keep in mind of the path name-->
    <link rel="stylesheet" href="./footerBar.css">
    <script src="./footerBar.js"></script>

</head>

<body>

    <h2 class="myH2">Footer Test</h2>

    <p class="myP">test page for custom footer html tag</p>

    <!-- add custom footer -->
    <footerbar-header></footerbar-header>

</body>

</html>